body {
  color: #240059;
  background-color: whitesmoke;
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 30px auto; }
  body footer {
    padding: 10px 0px 0px 0px;
    border-top: 1px solid rgba(216, 34, 0, 0.5);
    border-bottom: 1px solid rgba(216, 34, 0, 0.5); }
    body footer ul li i {
      width: 30px !important;
      height: 30px !important;
      padding-top: 8px;
      padding-right: 1px;
      background-color: #240059;
      border-radius: 50%;
      color: white !important; }
    body footer ul li a:hover i {
      background-color: #d82200; }

ul li {
  display: inline;
  font-family: "PT Serif", serif; }

h1, h2, h3, em, nav {
  font-family: "Ubuntu", sans-serif;
  text-align: justify; }

h3 i {
  color: #240059; }

hr {
  border-color: rgba(216, 34, 0, 0.5); }

a {
  transition: all 0.6s ease;
  color: #d82200;
  opacity: 0.8 !important; }
  a:hover {
    color: #240059;
    text-decoration: none !important;
    opacity: 1; }

address {
  display: inline;
  margin: 0px auto; }

dl {
  margin: 0px auto;
  font-family: "PT Serif", serif; }
  dl a {
    font-family: "PT Serif", serif;
    color: #240059; }
    dl a:hover {
      color: #d82200; }
  dl dt, dl dd {
    display: inline; }
  dl dt:after {
    content: ":"; }
  dl dd:after {
    content: "\A";
    white-space: pre; }
  dl dd ul {
    padding: 0px 0px;
    display: inline; }
  dl dd ul li:after {
    content: ","; }
  dl dd ul li:last-child:after {
    content: ""; }

article #head > h1 {
  font-size: 6em;
  text-align: center;
  border-bottom: 1px solid rgba(36, 0, 89, 0.5);
  margin: 0px 0px; }
article section {
  padding: 10px 0px;
  width: 75%;
  float: left; }
article aside {
  width: 20%;
  float: right; }
article h2 {
  font-size: 1.75em;
  color: #d82200;
  margin: 0px 0px; }
article h3 {
  margin: 10px 0px; }
article h3, article em {
  font-size: 1.125em;
  color: rgba(216, 34, 0, 0.5); }
article em {
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.2; }
article hr {
  border-bottom: 0px; }
article ol {
  list-style-type: upper-roman; }

#id {
  border-bottom: 1px solid rgba(216, 34, 0, 0.15); }

#codeschool ul {
  margin-top: 20px; }
#codeschool li {
  margin: 5px; }
#codeschool img {
  width: 50px;
  height: 50px; }

#gravatar {
  box-shadow: 1px 1px #d82200, 1px 1px rgba(216, 34, 0, 0.5), 1px 1px rgba(216, 34, 0, 0.15); }
